.scrolling {
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling2 {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling, .scrolling2{
    background-image: url("HKwallpaper.jpg");
}

body{
  background-color: black;
  margin: 0;
  font: 400 20px/1.6 "Lato", sans-serif;
  line-height: 2.0;
}
nav.top {
display: block;
justify-content: flex-end;
background-color: black;
list-style-type: none;
padding-top: 10px;
}

li.links{
  display: inline;
  padding-left: 8px;
  padding-right: 50px;
  font-weight: bold;
}

ul.links{
  list-style-type: none;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  background-color: grey;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.right{
    float:right;
}

.left{
    float:left;
}

div.Education{
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
}

div.EducationBody{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: none;
    padding-bottom:none;
    text-align: left;
}


div.Experience{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: left;
}

div.ExperienceBody{
      padding-left: 400px;
      padding-right: 400px;
      padding-top: none;
      padding-bottom: none;
      text-align: left;
}

div.OtherExperience{
      padding-left: 400px;
      padding-right: 400px;
      padding-top: none;
      padding-bottom: 10px;
      text-align: left;
}

div.OtherExperienceBody{
        padding-left: 400px;
        padding-right: 400px;
        padding-top: 10px;
        margin-bottom: 250px;
        text-align: left;
}

p{
    color: white; opacity: 0.6;
    font-weight: lighter;
}

h2{
    text-align: left;
    color: white;
    font: 400 30px/1.6 "Lato", sans-serif;
}

  h3{
    text-align: left;
    color: white;
    font: 400 20px/1.6 "Lato", sans-serif;
}

h4{
    text-align: right;
    color: white;
    font: 400 20px/1.6 "Lato", sans-serif;
}

hr {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  justify: center;
  border-top: .5px solid;
  color: grey;
}

li.list{
  color: white;
  opacity: 0.6;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  font: 400 20px/1.6 "Lato", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  text-align: center;
  padding: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: grey;}
